@model List<Item>

@{
    ViewData["Title"] = "Index";
    int registros = (int)ViewData["REGISTROS"];
    int cnt = 1;
}

<h1>Index</h1>

@for(int i = 0; i < registros; i += 3) {
    <a class="btn btn-outline-info" asp-controller="Store" asp-action="Index" asp-route-posicion="@i">@(cnt++)</a>
}

<table class="table">
    <thead>
        <tr>
            <th>
                IdItem
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Amount
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <img src="~/images/@item.Image" width="200"/>
            </td>
            <td>
                 <a asp-controller="Store" asp-action="AgregarCarrito" asp-route-idProduct="@item.IdItem">
                    <img src="https://mobiliarioshunfa.com/20073-large_default/carro-de-supermercado-mediano-80l-855297cm.jpg" style="widht: 50px; height: 50px"/>
                </a>
                <a asp-controller="Store" asp-action="AddFavorito" asp-route-idProduct="@item.IdItem">
                    Add favorite
                </a>
                @Html.ActionLink("EDITAR", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("ELIMINAR", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

